

body {
  height: 100%;
   display: flex;
   justify-content: space-around;
}


.smile { 
  top: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #5d9;
  position: relative;
  animation: jamp 3s linear infinite;
 
}


.eyes {
  

}
.eyes::before, .eyes::after {
  
  content: '';
  position: absolute;
  width: 30px;
  height: 40px;
  border-radius: 50%;
  background: #000;
  top: 40%;
  animation: eye 3s ease-in-out infinite;
  
}
.eyes::before { left: 40px; }
.eyes::after { right: 40px; }

.mouth {
  border-radius: 30% 30% 0 0 ;
  bottom: 20%;
  right: 50%;
  position: absolute;
  width: 30px;
  height: 15px;
  background-color:  #000;
}


@keyframes jamp {
0%, 100% { transform: translateY(100%); 
}   
30%, 80% {transform: translateY( 50%); 
}
50% {transform: translateY( 0%);
}



  @keyframes eye {
  90% { transform: none; }   
  95% { transform: scaleY(0.1); }
  }
  @-webkit-keyframes eye {
  90% { transform: none; }   
  95% { transform: scaleY(0.1); }
  }